<%= simple_form_for(@project) do |f| %>

    <div class="col-md-6" style="margin-bottom: 10px">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="col-md-6" style="margin-bottom: 10px">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: 'form-control'  %>
    </div>



    <div class="col-md-12 col-sm-12">
      <%= f.button :submit, value: 'Создать', class: 'btn btn-main btn-mr'  %>
    </div>
<% end %>

